/log/
!/log/nginx/.gitkeep

/pg/

/home/ubuntu/aws/S3/
!/home/ubuntu/aws/S3/.gitkeep
/home/ubuntu/aws/credentials


/home/ubuntu/backup/from_host/
!/home/ubuntu/backup/from_host/.gitkeep
/home/ubuntu/backup/restore/
!/home/ubuntu/backup/restore/.gitkeep

